$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
$display-bg: #807F7D
$button-border: 1px solid #B8B6B4
$button-bg: #e8e8e8
$button-hover-bg: #c9c9c7
$button-orange-hover-bg: #cf8f19

html
  box-sizing: border-box

*::before, *, *::after
  box-sizing: inherit

body
  margin: 0
  font-family: $font-stack
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding-top: 2rem
  padding-bottom: 2rem

#calculator
  display: flex
  flex-direction: column
  width: 700px
  margin: 0 auto

#display
  background-color: $display-bg
  text-align: right
  padding: 30px
  flex-basis: 100px // same as height 100px
  display: flex
  align-items: center
  justify-content: flex-end
  color: white
  font-weight: bold
  font-size: 24px

.buttons-group
  display: flex
  flex-basis: 100px

%btn
  padding: 20px
  font-size: 18px
  border-radius: 0
  border: none
  border-right: $button-border
  border-bottom: $button-border
  &:focus
    outline: none

.calculator-button
  @extend %btn
  &:first-child
    border-left: $button-border
  &:hover
    background-color: $button-hover-bg !important

.calculator-button-orange
  @extend %btn
  &:hover
    background-color: $button-orange-hover-bg !important

.listener-operation
  background-color: $button-orange-hover-bg !important
